resource "r0" {
  handlers {
    before-resync-target "/usr/lib/drbd/snapshot-resync-target-lvm.sh";
    after-resync-target "/usr/lib/drbd/unsnapshot-resync-target-lvm.sh";
  }
{% for node in _resource %}
  on "{{ node.name }}" {
    node-id {{ node.id }};
  {% for volume in node.volumes %}
  volume {{ loop.index0 }} {
      device minor {{ loop.index0 }};
      disk "{{ volume }}";
      meta-disk "{{ node.meta_disk }}";
    }
  {% endfor %}
}

{% endfor %}

  connection {
  {% for node in _resource %}
  host "{{ node.name }}" address {{ node.address }}:{{ drbdport }};
  {% endfor %}
}
}